astroid==2.4.2
atomicwrites==1.4.0
attrs==19.3.0
certifi==2020.4.5.2
chardet==3.0.4
colorama==0.4.3
decorator==4.4.2
idna==2.9
isort==4.3.21
-e git+git@github.com:bdagnino/kloppy.git@c7f157d214e649e5baa4f265017656236feb664d#egg=kloppy
lazy-object-proxy==1.4.3
lxml==4.5.1
mccabe==0.6.1
more-itertools==8.4.0
networkx==2.4
packaging==20.4
pluggy==0.13.1
py==1.8.2
pylint==2.5.3
pyparsing==2.4.7
pytest==5.4.3
requests==2.24.0
six==1.15.0
toml==0.10.1
urllib3==1.25.9
wcwidth==0.2.4
wrapt==1.12.1
